/* variable for text color */
:root {
  --textColor: #bdbdbd;
}

/* variable for font */
:root {
  --font: 'Verdana', sans-serif;
}

body {
    background-color: #4d4624;
}

p {
  margin-bottom: 10px; /* between paragraphs */
  margin-top: 0px;
  font-family: var(--font);
  }

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 40px;
    
}

#title {
    font-size: 30px;
    font-family: var(--font);
    color: var(--textColor);
    margin-top: 30px;
    margin-left: 30px;
    width: 600px;
}


/* chart svg */
.chart {
/*    background-color: rgba(128,128,128,.2);*/
    border-bottom: medium solid #000000;
    float: right;
    margin: 10px 40px 0px 0px;
}



.chartFrame {
	fill: none;
	stroke: none;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

/*
.gratLines {
    
    stroke: #555555;
    stroke-width: 0px;
    stroke-opacity: .1;
    
}
*/


.gratBackground {
    fill: #222222;
    shape-rendering: crispEdges;
    
}


.map {
    stroke: rgba(68,67,54,.2);
    stroke-width: 2px;
    stroke-linecap: round;
    margin: 10px 0 0 10px;
    border: 10px solid #000000;
    border-radius: 5px;
    shape-rendering: crispEdges;

}

.countries {
    fill: #282828;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: round;
    shape-rendering: crispEdges;
}

.regions {
    fill: #282828;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: round;
}

.chartBackground {
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: #ffffff;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: var(--font);
	font-size: 0.60em;
	fill: #ffffff;
}

/* Title for bar chart */
.chartTitle {
    fill: var(--textColor);
    font-family: var(--font);
    font-size: 1.5em;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    top: 560px;
    left: 65px;
    z-index: 10;
    font-family: var(--font);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 3px #000000;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    min-height: 50px;
    min-width: 100px;
    color: #bdbdbd;
    background-color: #000000;
    border: solid thin #000000;
    padding: 5px 10px;
    font-family: var(--font);
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

#source {
    font-size: 12px;
    color: darkgray;
    width: 300px;
    position: absolute;
    top: 670px;
    left: 65px;
}
