/* Lab2 GEOG575 Lance Lazarte */
body {
    background-color: #a1afb1;
    }
  
p {
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: 'Verdana', sans-serif;
    }
  
h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 40px;    
    }
  
#title {
    font-size: 40px;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    color: #2f6ff8;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    }
  
  /* chart svg */
.chart {
    border: 10px solid #2f6ff8;
    border-radius: 5px;
    shape-rendering: crispEdges;
    float: right;
    margin: 10px 20px 20px 0px;
     }
  
  
.chartFrame {
    fill: none;
    stroke: #2f6ff8;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    }

    
.gratBackground {
    fill: #b2d2e4;
    shape-rendering: crispEdges;      
    }
  
  
.map {
    stroke: rgba(68,67,54,.2);
    stroke-width: 2px;
    stroke-linecap: round;
    margin: 10px 0 0 10px;
    border: 10px solid #2f6ff8;
    border-radius: 5px;
    shape-rendering: crispEdges;
    }
  
.countries {
    fill: #707070;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: round;
    shape-rendering: crispEdges;
    }
  
.regions {
    fill: #282828;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: round;
    }
  
.chartBackground {
    fill: none;
    }
  
.axis path,
.axis line {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    }
  
.axis text {
    font-family: 'Verdana', sans-serif;
    font-size: 0.8em;
    fill: #000000;
    }
  
.chartTitle {
    fill: #2f6ff8;
    font-family: 'Verdana', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    }
  
.dropdown {
    position: absolute;
    top: 560px;
    left: 65px;
    z-index: 10;
    font-family: 'Verdana', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    border: 1px solid #2f6ff8;
    box-shadow: 2px 2px 3px #000000;
    background-color: #ffffff;
    color: #2f6ff8;
    }
  
option {
    font-weight: normal;
    }
  
.infolabel {
    position: absolute;
    min-height: 50px;
    min-width: 100px;
    color: #92681b;
    background-color: #e9e9e9;
    border: solid thin #000000;
    padding: 5px 10px;
    font-family: 'Verdana', sans-serif;
    }
  
.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    }